@charset "UTF-8";
	 img {
		float:left;
		display: inline-block;
	 }
	 div.top{
	 	margin: 0% 15%;
	 	width: 80%;
  		padding: 10px;
		background-color:white;
		display:block;
	 }
     div.content {
     	margin: 0% 15%;
     	width: 80%;
  		padding: 10px;
  		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     	font-size: 15px;
     	line-height: 25px;
     	color: grey;
     }
     div.book {
     	height: 300px;
     	overflow: hidden;
     }
     span.error{
     	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     	font-size: 15px;
     	margin: 120px 70px 0px 70px;
     	color:red;
     }
     span.mesg {
     	margin: 0% 15%;
     	width: 80%;
     	text-shadow: 2px 2px 5px grey;
     	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     	font-size: 40px;
     	color: grey;
     	letter-spacing: 1px;
     }
     h2 {
     	width: 100%;
     	border-top: 2px dotted grey;
     	display:block;
     	height:3px;
     }
     p {
     	height:370px;
     	display:inline-block;
     }
     span.title {
     	font-size: 30px;
     }
     span.author {
     	font-size: 20px;
     	line-height: 30px;
     }
     span.other {
     	line-height: 30px;
     }
     form{
     	width:75%;
     	height:100%;
     	margin: 50px 70px;
     	display: inline-block;
     }
     input[type=text] {
     	width:40%;
  		padding: 10px 15px;
  		box-sizing: border-box;
  		border-radius:8px;
  		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  		font-size: 15px;
  		text-align: left;
  		letter-spacing: 1px;
  		display: inline-block;
     }
     input[type=submit]{
     	width: 80px;
     	padding: 10px 15px;
     	box-sizing: border-box;
     	border-style:outset;
     	border-radius:8px;
     	margin-left: 40px;
     	background-image: url("magnifying_glass.png");
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: 25px 20px;
     	background-color: lightgray;
     	cursor: pointer;
     	display: inline-block;
     }
     input[type=radio]{
     	display: inline-block;
     }
     table{
     	width:30%;
     	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     	font-size: 15px;
     	letter-spacing: 1px;
     	color:grey;
     	margin-left: 40px;
     	position:relative;
     	top: 10px;
     	display: inline-block;
     }
     a:link, a:visited {
     	float:left;
     	background-color:white;
  		border: 20px clear;
  		padding: 10px;
  		margin: 10px 0px 10px 40px;
  		text-align: left; 
  		text-decoration: none;
  		display: inline-block;
	}
     